@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu&display=swap');

body {
  background-image: url('../public/Dewan_Tuanku_Canselor_Universiti_Malaya_in_Kuala_Lumpur2710.jpg'); 
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#root {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 60%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7); 
  scrollbar-width: thin;
  scrollbar-color: #a39af5 transparent;
  backdrop-filter: blur(10px); 
}


.chat-container::-webkit-scrollbar {
  width: 8px;
}

.chat-container::-webkit-scrollbar-track {
  background: transparent;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #695af5; 
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.chat-header {
  position: relative;
  padding: 1rem;
  text-align: center;
  background-color: linear-gradient(to bottom, white 0%, white 100%, transparent 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.gradient-bg {
  background: linear-gradient(to bottom, white 0%, white 50%, transparent 100%);
}

.um-logo {
  height: 40px; 
  margin-right: 10px; 
  display: inline-block;
}

.chat-header h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin: 0;
}

.dropdown {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.dropbtn {
  background-color: #5343e7;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  width: 96%;
  background-color: #fff;
  color: black;
  padding: 12px 16px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.05);
  z-index: 1;
  border-radius: 5px;
  max-width: 90%;
}

.dropdown-content p {
  margin: 0;
}

.dropdown-content.show {
  display: block;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; display: none; }
}

.chat-history {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.user-message, .bot-message {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  max-width: 60%;
}

.user-message {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: #5343e7;
  color: white;
  align-self: flex-end;
}

.bot-message {
  background-color: white;
  display: inline-block;
  align-self: flex-start;
}

.message-container {
  display: flex;
  align-items: flex-end;
}

.user-message-container {
  justify-content: flex-end;
}

.bot-message-container {
  justify-content: flex-start;
}

.chat-input-container {
  display: flex;
  padding: 1rem;
  background-color: linear-gradient(to bottom, white 0%, white 100%, transparent 100%);
}

.chat-input {
  transition: border-color 0.3s ease;
  cursor: text;
  flex-grow: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  margin-right: 0.5rem;
  background-color: transparent;
}

.chat-input.not-empty {
  background: none;
}

.chat-input:hover, .chat-input:focus {
  border-color: #5343e7;
}

.chat-button {
  padding: 0.5rem;
  background-color: #5343e7;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  align-items: center; 
  transition: background-color 0.3s ease;
}

.chat-button:hover {
  background-color: #6b5ee9;
}

.chat-button i {
  font-size: 1rem;
}

.bot-typing {
  background-color: #bbb;
  color: black;
  align-self: flex-start;
  padding: 0.5rem;
  border-radius: 4px;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}

.bot-typing .dot {
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  animation: blink 1.4s infinite both;
}

@keyframes blink {
  0%, 20%, 50%, 80%, 100% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
}

.bot-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.bot-profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.bot-label {
  font-size: 12px;
  color: #000000;
}